/* ==========================================================================
   Base Stylesheet
   base.less
   ========================================================================== */

html, body {
	margin: 0;
	padding: 0;
	font-family: @_font-helvetica;
	overflow: hidden;

	-ms-touch-action: none;

	-webkit-touch-callout: none;
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-tap-highlight-color: transparent;

	outline: none;
	button, input {
		outline: none;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	}
}

.screen {
	position: absolute;
	top: 90px;
	width: 100%;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}