/* ==========================================================================
   Header Stylesheet
   header.less
   ========================================================================== */

#header {
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: right;
	background-color: #F5F5F5;
	z-index: 5;
	h1 {
		font-size: 36px;
		margin: 0;
		text-shadow: 0 0 7px fade(#000, 30%);
		font-family: @_font-helvetica-light;
		position: absolute;
		left: 10px;
		top: 14px;
	}
	button {
		width: auto;
		min-width: initial;
		padding-top: 8px;
		margin: 10px;
	}
}