/* ==========================================================================
   Notes Stylesheet
   notes.less
   ========================================================================== */

#notes {
	h1 {
		font-family: @_font-serif;
		font-size: 16px;
		margin: 0;
		padding: 0;
		color: #1F1F1F;
		margin-bottom: 15px;
		text-align: center;
	}
	.workload {
		padding: 60px 10px 10px 10px;
		width: 100%;
		display: block;
		text-align: center;
		button {
			width: 50px;
			height: 70px;
			border: 0 none;
			-webkit-filter: invert(1);
			opacity: 0.1;
			background-color: transparent;
			overflow: hidden;
			padding: 0;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: 46px;
			&:nth-child(1) {
				background-image: url(../svg/emoji-white-1.svg);
			}
			&:nth-child(2) {
				background-image: url(../svg/emoji-white-2.svg);
			}
			&:nth-child(3) {
				background-image: url(../svg/emoji-white-3.svg);
			}
			&:nth-child(4) {
				background-image: url(../svg/emoji-white-4.svg);
			}
			&:nth-child(5) {
				background-image: url(../svg/emoji-white-5.svg);
			}
			&.active {
				-webkit-filter: invert(0);
				opacity: 1;
				&:nth-child(1) {
					background-image: url(../svg/emoji-1.svg);
				}
				&:nth-child(2) {
					background-image: url(../svg/emoji-2.svg);
				}
				&:nth-child(3) {
					background-image: url(../svg/emoji-3.svg);
				}
				&:nth-child(4) {
					background-image: url(../svg/emoji-4.svg);
				}
				&:nth-child(5) {
					background-image: url(../svg/emoji-5.svg);
				}
			}
		}
		.label {
			font-size: 10px;
			font-family: @_font-sans;
			color: #BFC2C5;
			vertical-align: bottom;
			line-height: 40px;
			font-style: italic;
		}
	}
	.comments {
		width: 100%;
		display: block;
		padding: 10px;
		clear: both;
		padding-top: 20px;
		textarea {
			height: 80px;
			width: 100%;
			border-radius: 0;
			border: 2px solid #D5D5D5;
			box-shadow: none;
			background-color: #efefef;
		}
	}
}