/* ==========================================================================
   Notes Stylesheet
   notes.less
   ========================================================================== */

#notes {
	.page-header {
		position: fixed;
		overflow: hidden;
		z-index: 2;
		background-color: #272b2e;
		width: 100%;
		height: 46px;
		margin: 0;
		border-bottom: 0;
		padding-bottom: 0;
		border-radius: 0;
	}
	.toggle {
		position: absolute;
		right: 0;
	}
	.toggle-weeks {
		position: fixed;
		.position-center-center;
		z-index: 5;
		margin-top: 46px;
		button {
			height: 69px;
			&.active {
				&.zero {
					.total {
						color: #8c9195;
					}
				}
				.date {
					color: #272b2e;
				}
				.total {
					.label {
						color: #cccccc;
					}
				}
			}
			&.zero {
				.total {
					color: #FFF;
				}
			}
			&.over {
				.total {
					color: #b91f67;
				}
			}
			.date {
				text-transform: uppercase;
				color: #8c9195;
				font-size: 10px;
				font-family: @_font-helvetica-bold;
			}
			.total {
				font-size: 36px;
				overflow: hidden;
				color: #a1cc3b;
				font-family: @_font-helvetica-bold;
				.position-center-center;
				span {
					padding: 0;
					display: inline-block;
				}
				.label {
					font-size: 16px;
					padding: 0;
					font-family: @_font-helvetica;
					color: #575c60;
					padding-left: 5px;
				}
			}
		}
	}
	.user {
		float: left;
		margin: 5px;
		white-space: nowrap;
		.avatar {
			width: 34px;
			height: 34px;
			border-radius: 3px;
			background-color: #FFF;
			font-size: 24px;
			text-align: center;
			line-height: 34px;
			margin-left: 5px;
			background-size: cover;
			float: left;
			-webkit-filter: grayscale(1);
		}
		span {
			color: #656a6e;
			font-family: @_font-helvetica-bold;
			font-size: 20px;
			margin-left: 5px;
			max-width: 160px;
			text-overflow: ellipsis;
			display: inline-block;
			overflow: hidden;
			height: 26px;
			line-height: 36px;
		}
	}
	.workload {
		padding: 130px 10px 10px 10px;
		width: 100%;
		display: block;
		text-align: center;
		h1 {
			font-family: @_font-helvetica-bold;
			font-size: 21px;
			margin: 0;
			padding: 0;
			color: #656a6e;
		}
		button {
			width: 45px;
			margin-right: 1%;
			height: 45px;
			border: 2px solid #dfdfdf;
			border-radius: 3px;
			color: #a1cc3b;
			background-color: transparent;
			&.active {
				background-color: #a1cc3b;
				border-color: #8cb42f;
				color: #FFF;
			}
		}
		.label {
			font-size: 18px;
			font-family: @_font-helvetica-light;
			color: #a1cc3b;
			vertical-align: bottom;
			line-height: 40px;
		}
	}
	.comments {
		width: 100%;
		display: block;
		padding: 10px;
		clear: both;
		padding-top: 20px;
		h1 {
			font-family: @_font-helvetica-bold;
			font-size: 21px;
			margin: 0;
			padding: 0;
			color: #656a6e;
			text-align: center;
		}
		textarea {
			height: 80px;
			width: 100%;
			border-radius: 0;
			border: 1px solid #dfdfdf;
			box-shadow: none;
		}
	}
}