/* ==========================================================================
   People Stylesheet
   people.less
   ========================================================================== */

#people {
	.page-header {
		position: fixed;
		overflow: hidden;
		z-index: 2;
		background-color: fade(#FFF, 90%);
		width: 100%;
		margin: 0;
		border-bottom: 0;
		padding-bottom: 0;
		h1 {
			font-family: @_font-helvetica-light;
			font-size: 21px;
			margin: 15px 0 0 10px;
			float: left;
		}
		.total {
			font-size: 21px;
			padding: 5px 0;
			line-height: 25px;
			overflow: hidden;
			height: 30px;
			&.over {
				background-color: red;
				color: #FFF;
				width: auto;
				display: block;
				border-radius: 5px;
				padding: 5px;

			}
		}
	}
	.group-type {
		float: right;
		margin: 10px;
		button {
			background-color: #FFF;
			border-color: fade(#000, 10%);
			color: fade(#000, 30%);
			min-width: 30px;
			overflow: hidden;
			line-height: 12px;
			height: 25px;
			&.active {
				background-color: fade(#00A1CB, 100%);
				color: fade(#FFF, 80%);
			}
		}
	}
	.group-weeks {
		width: 102%;
		margin-left: -1%;
		.position-center-center;
		button {
			font-family: @_font-helvetica;
			font-size: 14px;
			min-width: 95px;
			width: 34%;
			border-radius: 0;
			background-color: fade(#FFF, 5%);
			&.active {
				background-color: fade(#000, 10%);
			}
		}
	}
	.people {
		list-style: none;
		margin: 0 10px;
		padding: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		z-index: 1;
		padding-top: 85px;
		li {
			margin-bottom: 1px;
			position: relative;
			height: 50px;
			overflow: hidden;
			span {
				line-height: 55px;
			}
		}
		.bar {
			font-family: @_font-helvetica-light;
			position: absolute;
			z-index: 1;
			.percent {
				width: 75px;
				display: inline-block;
				font-size: 21px;
				text-align: center;
			}
			.name {
				padding-left: 10px;
				font-size: 18px;
			}
		}
		.percentage {
			height: 100%;
			float: left;
			.projectColor(@percent) {
				background-color: fade(#D0D102, @percent);
			}
			&:nth-child(0) {
				.projectColor(100);
			}
			&:nth-child(1) {
				.projectColor(90);
			}
			&:nth-child(2) {
				.projectColor(80);
			}
			&:nth-child(3) {
				.projectColor(70);
			}
			&:nth-child(4) {
				.projectColor(60);
			}
			&:nth-child(5) {
				.projectColor(50);
			}
			&:nth-child(6) {
				.projectColor(40);
			}
			&:nth-child(7) {
				.projectColor(30);
			}
			&:nth-child(8) {
				.projectColor(20);
			}
			&:nth-child(9) {
				.projectColor(30);
			}
			&:nth-child(10) {
				.projectColor(20);
			}
		}
		.percentage-container {
			width: 100%;
			padding-left: 75px;
			height: 100%;
			position: relative;
			background-color: fade(#D0D102, 20%);
		}
	}
}