/* ==========================================================================
   Rate Week Stylesheet
   rate-week.less
   ========================================================================== */

#rate-week {
	.page-header {
		position: fixed;
		overflow: hidden;
		z-index: 2;
		background-color: #272b2e;
		width: 100%;
		height: 46px;
		margin: 0;
		border-bottom: 0;
		padding-bottom: 0;
		border-radius: 0;
	}
	.toggle {
		position: absolute;
		right: 0;
	}
	.toggle-weeks {
		position: fixed;
		.position-center-center;
		z-index: 5;
		margin-top: 46px;
		button {
			height: 69px;
			&.active {
				&.zero {
					.total {
						color: #8c9195;
					}
				}
				.date {
					color: #272b2e;
				}
				.total {
					.label {
						color: #cccccc;
					}
				}
			}
			&.zero {
				.total {
					color: #FFF;
				}
			}
			&.over {
				.total {
					color: #b91f67;
				}
			}
			.date {
				text-transform: uppercase;
				color: #8c9195;
				font-size: 10px;
				font-family: @_font-helvetica-bold;
			}
			.total {
				font-size: 36px;
				overflow: hidden;
				color: #a1cc3b;
				font-family: @_font-helvetica-bold;
				.position-center-center;
				span {
					padding: 0;
					display: inline-block;
				}
				.label {
					font-size: 16px;
					padding: 0;
					font-family: @_font-helvetica;
					color: #575c60;
					padding-left: 5px;
				}
			}
		}
	}
	.back-button {
		width: 45px;
		height: 45px;
		border: 0px none;
		background-color: transparent;
		float: left;
		font-size: 30px;
		margin: 0;
	}
	.user {
		float: left;
		margin: 5px;
		white-space: nowrap;
		.avatar {
			width: 34px;
			height: 34px;
			border-radius: 3px;
			background-color: #FFF;
			font-size: 24px;
			text-align: center;
			line-height: 34px;
			margin-left: 5px;
			background-size: cover;
			float: left;
			-webkit-filter: grayscale(1);
		}
		span {
			color: #656a6e;
			font-family: @_font-helvetica-bold;
			font-size: 20px;
			margin-left: 5px;
			max-width: 160px;
			text-overflow: ellipsis;
			display: inline-block;
			overflow: hidden;
			height: 26px;
			line-height: 36px;
		}
	}
	.projects {
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
		z-index: 1;
		margin-top: 135px;
		padding: 0;
		position: relative;
		li {
			position: relative;
			height: 87px;
			overflow: visible;
			border-bottom: 1px solid #deedbb;
			background-color: #d0e59d;
		}
		.name {
			position: absolute;
			z-index: 1;
			height: 100%;
			overflow: hidden;
			white-space: nowrap;
			width: 100%;
			text-overflow: ellipsis;
			span {
				line-height: 87px;
			}
			.percent {
				width: 50px;
				text-align: right;
				color: #FFF;
				font-size: 24px;
				font-family: @_font-helvetica-bold;
				display: inline-block;
			}
			.label {
				font-size: 12px;
				padding-left: 0;
				padding-right: 10px;
				width: 20px;
				text-align: left;
				display: inline-block;
				color: fade(#FFF, 50%);
				font-family: @_font-helvetica-light;
			}
			.company {
				font-size: 20px;
				color: #333333;
				font-family: @_font-helvetica-bold;
			}
			.project {
				font-size: 20px;
				color: #333333;
				font-family: @_font-helvetica-light;
			}
		}
		.percentage {
			height: 87px;
			background-color: #a1cc3b;
			min-width: 10px;
			position: relative;
			border-bottom: 1px solid #bddb76;
			.handle {
				position: absolute;
				background-image: url(../svg/dot.svg);
				background-repeat: repeat-y;
				background-size: 4px;
				background-position: right 3px;
				height: 80px;
				width: 5px;
				padding: 5px;
				top: 4px;
				right: 3px;
			}
		}
	}
	.internal {
		.diagonal-background-lines(fade(#FFF, 10%), transparent, 10px);
	}
}