/* ==========================================================================
   Rate Week Stylesheet
   rate-week.less
   ========================================================================== */

#rate-week {
	.totals {
		position: absolute;
		right: 0;
		top: 0;
		width: 60px;
		.number {
			font-size: 32px;
			font-weight: bold;
			color: #97C534;
			display: block;
			line-height: 28px;
			margin-top: 13px;
			&.over {
				color: #B01C5C;
			}
		}
		.label {
			color: #565A5E;
			font-size: 9px;
			display: block;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		z-index: 2;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	.projects {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-top: 112px;
		min-height: 300px;
		li {
			position: relative;
			height: 65px;
			overflow: visible;
			border-bottom: 1px solid #FFF;
			background-color: #DFEEBC;
		}
		.totals {
			position: absolute;
			left: 5px;
			top: 0;
			width: 50px;
			height: 100%;
			z-index: 2;
			text-align: center;
			span {
				display: block;
				font-family: @_font-sans;
			}
			.percent {
				color: #FFF;
				font-weight: bold;
				font-size: 32px;
				line-height: 30px;
				margin-top: 13px;
			}
			.label {
				font-size: 10px;
				color: fade(#FFF, 50%);
				line-height: 12px;
			}
		}
		.name {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			position: absolute;
			z-index: 2;
			left: 0;
			top: 0;
			width: 100%;
			height: 64px;
			padding: 0 0 0 64px;
			span {
				line-height: 64px;
			}
			.company, .project {
				font-size: 14px;
				color: #2D2D2D;
				font-family: @_font-sans;
			}
			.company {
				font-weight: bold;
			}
		}
		.percentage {
			height: 64px;
			background-color: #97C534;
			min-width: 11px;
			position: relative;
			.handle {
				position: absolute;
				background-image: url(../svg/dot.svg);
				background-repeat: repeat-y;
				background-size: 6px 7px;
				background-position: right 7px;
				height: 47px;
				width: 5px;
				padding: 5px;
				top: 8px;
				right: 2px;
			}
		}
	}
	.internal {
		.diagonal-background-lines(fade(#FFF, 10%), transparent, 10px);
	}
}