/* ==========================================================================
   SelectProject Stylesheet
   select-project.less
   ========================================================================== */

#select-project {
	.page-header {
		position: fixed;
		overflow: hidden;
		z-index: 2;
		background-color: #272b2e;
		width: 100%;
		height: 46px;
		margin: 0;
		border-bottom: 0;
		padding-bottom: 0;
		z-index: 3;
		border-bottom: 2px solid fade(#272b2e, 50%);
		-moz-background-clip: padding;     /* Firefox 3.6 */
		-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
		background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
		h1 {
			font-family: @_font-helvetica-bold;
			font-size: 21px;
			margin: 15px 0 0 10px;
			float: left;
			color: #656a6e;
		}
		.add {
			float: right;
			height: 32px;
			border-radius: 5px;
			background-color: #1a1d1f;
			border: 0px none;
			color: #FFF;
			font-size: 18px;
			line-height: 32px;
			margin: 5px 10px;
			text-align: center;
			.position-center-center;
			span {
				width: 32px;
				display: block;
			}
		}
	}
	.toggle {
		float: right;
	}
	.row {
		margin: 0;
		> div {
			padding: 0;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		-webkit-overflow-scrolling: touch;
	}
	.all-projects {
		padding-top: 43px;
		padding-bottom: 72px;
		width: 100%;
		position: absolute;
		z-index: 2;
		li {
			background-color: #D70060;
			font-size: 19px;
			height: 61px;
			line-height: 66px;
			color: #FFF;
			padding-left: 65px;
			font-family: @_font-helvetica-light;
			position: relative;
			border-bottom: 1px solid #ce6395;
			&.active {
				background-color: #a1cc3b;
				color: #333333;
				border-bottom: 1px solid #bddb76;
			}
			.check {
				color: white;
				position: absolute;
				left: 23px;
				font-size: 20px;
				top: 20px;
			}
		}
		.company {
			font-family: @_font-helvetica-bold;
		}
	}
	.internal {
		.diagonal-background-lines(fade(#FFF, 10%), transparent, 10px);
	}
	.refresh {
		width: 100%;
		height: 500px;
		background-color: #272b2e;
		text-align: center;
		position: fixed;
		top: 109px;
		color: #CCC;
		border-top: 2px solid #24282a;
		border-bottom: 2px solid #24282a;
		span {
			display: block;
			margin-top: 10px;
			font-size: 32px;
		}
	}
}
.add-project {
	.typeahead {
		position: relative;
	}
	.input-group-addon {
		min-width: 115px;
	}
	.input-group {
		width: 100%;
		margin-bottom: 10px;
		input {
			width: 100%;
		}
	}
	.project-typeahead {
		display: block;
		border: 1px solid gray;
		background-color: #FFF;
		padding: 0;
		list-style: none;
		margin: 5px;
		position: fixed;
		z-index: 5000;
		li {
			height: 45px;
			font-size: 14px;
			line-height: 45px;
			border-bottom: 1px solid fade(#000, 10%);
			padding: 0 10px;
		}
	}
}