/* ==========================================================================
   SelectProject Stylesheet
   select-project.less
   ========================================================================== */

#select-project {
	.sub-header {
		button {
			background-color: #17191A;
			&.disabled {
				color: #262828;
			}
		}
	}
	.toggle {
		float: right;
	}
	.row {
		margin: 0;
		> div {
			padding: 0;
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		z-index: 2;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	.groups {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-top: 112px;
		min-height: 300px;
		li {
			border-bottom: 1px solid fade(#A6ABAF, 70%);
			.group-header {
				width: 100%;
				background-color: #A6ABAF;
				height: 40px;
				position: relative;
				.avatar {
					position: absolute;
					left: 10px;
					top: 5px;
					width: 30px;
					height: 30px;
					border-radius: 15px;
					border: 2px solid #FFF;
					background-color: #FFF;
					box-shadow: inset 0 1px 2px fade(#000, 10%);
					background-size: cover;
					-webkit-filter: grayscale(1);
					display: inline-block;
					&.user {
						text-align: center;
						color: gray;
						line-height: 30px;
						font-size: 26px;
						overflow: hidden;
					}
				}
				.locked {
					color: #B3205B;
					background-color: #FFF;
					height: 16px;
					font-size: 11px;
					width: 16px;
					position: absolute;
					left: 32px;
					top: 12px;
					border-radius: 10px;
					text-align: center;
					line-height: 17px;
				}
				.my-group, .other-group {
					padding: 0 60px;
				}
				.other-group {
					.group-name {
						line-height: 16px;
						padding-top: 4px;
					}
				}
				.group-name {
					font-family: @_font-sans;
					text-transform: uppercase;
					font-size: 14px;
					font-weight: bold;
					text-overflow: ellipsis;
					white-space: nowrap;
					color: #FFF;
					line-height: 40px;
					overflow: hidden;
				}
				.person-name {
					font-family: @_font-serif;
					font-size: 11px;
					text-overflow: ellipsis;
					white-space: nowrap;
					color: #FFF;
					line-height: 16px;
					overflow: hidden;
				}
				.member, .add {
					position: absolute;
					right: 0;
					top: 0;
					background-color: #777C80;
					border-radius: 0;
					border: 0 none;
					height: 40px;
					width: 48px;
					color: #FFF;
					font-size: 12px;
					font-weight: bold;
					font-family: @_font-sans;
					&::before {
						font-family: 'FontAwesome';
						font-size: 18px;
					}
				}
			}
		}
		ol {
			list-style: none;
			margin: 0;
			padding: 0;
			background-color: #FFF;
			li {
				position: relative;
				white-space: nowrap;
				overflow: visible;
				border-bottom: 1px solid #ECECEC;
				color: #2D2D2D;
				&.selected {
					background-color: #DFEEBC;
					border-color: #DFEEBC;
					button {
						background-color: #97C534;
						color: #FFF;
					}
				}
				.title {
					font-size: 14px;
					height: 64px;
					line-height: 64px;
					padding: 0 10px 0 60px;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
				button {
					position: absolute;
					left: 0;
					top: 0;
					background-color: #ECECEC;
					border-radius: 0;
					border: 0 none;
					height: 65px;
					width: 48px;
					color: #DADADA;
					font-size: 18px;
					text-align: center;
					padding: 0;
					margin: 0;
				}
				.company {
					font-weight: bold;
				}
			}
		}
	}
	.internal {
		.diagonal-background-lines(fade(#FFF, 10%), transparent, 10px);
	}
	.refresh {
		width: 100%;
		height: 150px;
		background-color: #272b2e;
		text-align: center;
		position: fixed;
		top: 112px;
		color: #CCC;
		border-top: 2px solid #24282a;
		border-bottom: 2px solid #24282a;
		span {
			display: block;
			margin-top: 10px;
			font-size: 32px;
		}
	}
}
.add-project {
	.typeahead {
		position: relative;
	}
	.input-group-addon {
		min-width: 115px;
	}
	.input-group {
		width: 100%;
		margin-bottom: 10px;
		input {
			width: 100%;
		}
	}
	.project-typeahead {
		display: block;
		border: 1px solid gray;
		background-color: #FFF;
		padding: 0;
		list-style: none;
		margin: 5px;
		position: fixed;
		z-index: 5000;
		li {
			height: 45px;
			font-size: 14px;
			line-height: 45px;
			border-bottom: 1px solid fade(#000, 10%);
			padding: 0 10px;
		}
	}
}