<div id="people" data-bind="visible: auth.currentUser() && header.viewType() == 'people'">
	<div class="header">
		<ul class="toggle-bordered weeks" data-bind="foreach: people.weeks">
			<li data-bind="css: { active: $parent.people.activeWeek() == $index()}">
				<button data-bind="click: function() { $parent.people.selectWeek($index()) }">
					<span class="date" data-bind="text: $parent.people.styleWeek($index(), $data.date())"></span>
				</button>
			</li>
		</ul>
		<div class="filters">
			<ul class="toggle" data-bind="click: people.toggleView">
				<li data-bind="css: { active: people.viewType() == 'hours' }"><button><span class="fa fa-clock-o"></span></button></li>
				<li data-bind="css: { active: people.viewType() == 'percent' }"><button>%</button></li>
			</ul>
		</div>
	</div>
	<ul class="content panel" data-bind="foreach: people.times()[people.activeWeek()], slidePanelVisible: people.show() && auth.currentUser()">
		<li class="isoitems" data-bind="css: $parent.people.convertNumToWords($data.attributes.data.rating)"> <!-- data-bind="isotope: {container: '#people>.content', itemSelector: '.isoitems'}"  -->
			<h2 data-bind="text: attributes.user.attributes.displayName"></h2>
			<div class="details">
				<div class="avatar">
					<!-- ko if: $data.attributes.user.attributes.avatar -->
					<div class="picture" data-bind="style: { 'background-image': 'url(' + $data.attributes.user.attributes.avatar._url + ')' }"></div>
					<!-- /ko -->
					<!-- ko ifnot: $data.attributes.user.attributes.avatar -->
					<div class="picture fa fa-user"></div>
					<!-- /ko -->
					<div class="border"></div>
				</div>
				
				<div class="snapshot" data-bind="css: { over: attributes.total() > 100 }, click: $parent.people.flip">
					<div class="time">
						<span class="percent" data-bind="text: attributes.total() * ($parent.people.viewType() == 'hours' ? 0.4 : 1)"></span>
						<span class="label" data-bind="text: ($parent.people.viewType() == 'hours' ? 'hours' : 'percent')"></span>
					</div>
					<div class="emoji" data-bind="style: { 'background-image': 'url(svg/emoji-' + (attributes.data.rating + 1) + '.svg)' }"></div>
					<div class="notes" data-bind="text: attributes.data.notes"></div>
				</div>
			</div>
			<div class="container">
				<ol class="projects hide">
					<!-- ko foreach: $data.attributes.data.projects -->
					<li class="percentage-container" data-bind="css: { over: percentage > 100 }, css: { 'over': $index() > 4 }">
						<div class="name">
							<span class="percent" data-bind="text: percentage * ($root.people.viewType() == 'hours' ? 0.4 : 1)"></span>
							<span class="label" data-bind="text: ($root.people.viewType() == 'hours' ? 'hr' : '%')"></span>
							<span class="company" data-bind="text: $root.people.getCompanyName(id) + ':'"></span>
							<span class="project" data-bind="text: $root.people.getProjectName(id)"></span>
						</div>
						<div class="percentage" data-bind="style: { width: $data.percentage * .666 + '%' }"></div> 
					</li>
					<!-- /ko -->
					<li data-bind="visible: $data.attributes.data.projects.length > 5"><button type="button" class="showall clear" data-bind="click: $root.people.toggleProjects">Show all projects</button></li>
				</ol>
				<div class="back" data-bind="click: $root.people.flip">
					<div class="fa fa-arrow-right"></div>
					<p data-bind="text: attributes.data.notes"></p>
				</div>
			</div>
		</li>
	</ul>
</div>