<div id="projects" data-bind="visible: auth.currentUser() && header.viewType() == 'projects'">
	<div class="header">
		<div class="filters">
			<div class="toggle" data-bind="click: people.toggleView">
				<button data-bind="css: { active: people.viewType() == 'hours' }"><span class="fa fa-clock-o"></span></button>
				<button data-bind="css: { active: people.viewType() == 'percent' }">%</button>
			</div>
		</div>
	</div>
	<ul class="content" data-bind="foreach: projects.times">
		<li class="project-row">
			<span class="company" data-bind="text: $parent.projects.getCompanyName($data.projectId)"></span>: 
			<span class="project" data-bind="text: $parent.projects.getProjectName($data.projectId)"></span>
			<ol>
			<!-- ko foreach: $data.users -->
				<li class="person-row">
					<span class="person" data-bind="text: $data.user.attributes.displayName"></span>
					<ol>
					<!-- ko foreach: $data.times -->
						<li data-bind="attr: { class: 'column column-' + $root.projects.getDateColumnPosition($data.date) }, visible: $data.percentage > 0">
							<span class="percent" data-bind="text: $data.percentage * ($root.people.viewType() == 'hours' ? 0.4 : 1)"></span>
							<span class="label" data-bind="text: ($root.people.viewType() == 'hours' ? 'hr' : '%')"></span>
						</li>
					<!-- /ko -->
					</ol>
				</li>
			<!-- /ko -->
			</ol>
		</li>
	</ul>
</div>