/* ==========================================================================
   Mixin Fonts Stylesheet
   positioning.less
   ========================================================================== */

.position-center-center {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}

.position-bottom-left {
	display: flex;
	display: -webkit-flex;
	align-items: flex-end;
	justify-content: flex-start;
}

.position-center-right {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: flex-end;
}

.position-center-left {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: flex-start;
}