<!-- ko if: !auth.currentUser() -->
<div id="auth">
	<div class="alert alert-danger alert-dismissable" data-bind="fadeVisible: auth.errorMessage().length > 0, text: auth.errorMessage"></div>
	<div class="intro">
		<div class="header">
			<img src="svg/logo.svg" />
		</div>
		<canvas></canvas>
		<div class="footer">
			<ul class="steps" data-bind="foreach: auth.steps">
				<li data-bind="css: { active: $data.active }"></li>
			</ul>
			<button type="button" class="button blue clear" data-bind="tap: auth.toggleSignIn">Log In</button>
			<button type="button" class="button blue" data-bind="tap: auth.toggleSignUp">Sign Up Now</button>
		</div>
	</div>
	<div class="signin panel" data-bind="slidePanelVisible: auth.signInMode">
		<form data-bind="submit: auth.signInUp">
			<div class="header">
				<button type="button" class="left fa fa-times" data-bind="tap: auth.toggleSignIn"></button>
				<h1>Log In</h2>
				<button type="submit" class="right fa fa-check"></button>
			</div>
			<input name="auth_email" type="text" class="form-control" placeholder="Email" autocapitalize="off" autocorrect="off" data-bind="hasFocus: auth.resetError()">
			<input name="auth_password" type="password" class="form-control" placeholder="Password" data-bind="hasFocus: auth.resetError()">
		</form>
		<div class="forgot" data-bind="tap: auth.toggleForgot">Forgot your password?</div>
	</div>
	<div class="signup panel" data-bind="slidePanelVisible: auth.signUpMode">
		<form data-bind="submit: auth.signInUp">
			<div class="header">
				<button type="button" class="left fa fa-times" data-bind="tap: auth.toggleSignUp"></button>
				<h1>Sign Up</h2>
				<button type="submit" class="right fa fa-check"></button>
			</div>
			<input name="auth_email" type="text" class="form-control" placeholder="Email" autocapitalize="off" autocorrect="off" data-bind="hasFocus: auth.resetError()">
			<input name="auth_displayName" type="text" class="form-control" placeholder="First and Last name" autocapitalize="on" autocorrect="off" data-bind="hasFocus: auth.resetError()">
			<input name="auth_password" type="password" class="form-control" placeholder="Password" data-bind="hasFocus: auth.resetError()">
			<input name="auth_confirmPassword" type="password" class="form-control" placeholder="Confirm password" data-bind="hasFocus: auth.resetError()">
		</form>
	</div>
	<div class="forgot panel" data-bind="shiftPanelVisible: auth.forgotMode">
		<form data-bind="submit: auth.forgot">
			<div class="header">
				<button type="button" class="left fa fa-times" data-bind="tap: auth.toggleForgot"></button>
				<h1>Forgot Password</h2>
				<button type="submit" class="right fa fa-check"></button>
			</div>
			<input name="auth_forgot" type="text" class="form-control" placeholder="Email" autocapitalize="off" autocorrect="off" data-bind="hasFocus: auth.resetError()">
		</form>
	</div>
</div>
<!-- /ko -->