<!-- ko if: auth.currentUser -->
<div id="header" role="navigation" data-bind="drag: header.dragMenuStart, dragdown: header.dragMenu, dragup: header.dragMenu">
	<div class="logo">
		<div class="handle"></div>
	</div>
	<div class="menu">
		<button class="logout" data-bind="tap: header.logout">Log out</button>
		<ul class="nav" data-bind="foreach: header.pages">
			<li data-bind="css: { active: $parent.header.activePage() == $index() }, tap: function() { $parent.header.goToPage($index()) }">
				<button>
					<span data-bind="attr: { class: 'icon ' + $data.icon }"></span>
					<span data-bind="text: display"></span>
				</button>
			</li>
		</ul>
	</div>
</div>
<!-- /ko -->