<!-- ko if: auth.currentUser() && views[activeView()] == 'home' -->
<div id="home" class="screen">
	<div class="header">
		<button type="button" class="left" data-bind="tap: home.showProfile">
			<span class="fa fa-square"></span>
			<span class="fa fa-cog"></span>
		</button>
		<img src="svg/logo.svg" />
		<button type="submit" class="right" data-bind="visible: alerts.list().length > 0, tap: home.showAlerts">
			<div class="quantity" data-bind="text: alerts.list().length"></div>
			<span class="fa-stack">
				<span class="fa fa-square fa-stack-2x fa-inverse"></span>
				<span class="fa fa-bell fa-stack-1x fa-inverse"></span>
			</span>
		</button>
	</div>
	<div class="user">
		<!-- ko if: auth.currentUser().attributes.avatar -->
		<div class="avatar" data-bind="tap: rateWeek.takePicture">
			<img data-bind="attr: { src: auth.currentUser().attributes.avatar._url }" />
		</div>
		<!-- /ko -->
		<!-- ko ifnot: auth.currentUser().attributes.avatar -->
		<div class="avatar fa fa-camera" data-bind="tap: rateWeek.takePicture"></div>
		<!-- /ko -->
		<h1 data-bind="text: auth.currentUser().attributes.displayName"></h1>
	</div>
	<div class="refresh"><span class="fa fa-arrow-circle-down"></span> Pull to refresh</div>
	<div class="page" data-bind="dragdown: home.dragRefresh, drag: home.startRefreshDrag">
		<h2>What are you working on?</h2>
		<!-- ko if: home.totals().length > 0 -->
		<ul data-bind="foreach: home.totals">
			<li data-bind="css: { 'none': $data.total < 0, 'over': $data.total > 100 }, tap: function() { $parent.home.go($index()) }">
				<div class="date">
					<span data-bind="text: $parent.home.styleWeek($index())"></span>
				</div>
				<div class="emoji" data-bind="style: { 'background-image': 'url(svg/emoji-' + ($data.rating >= 0 ? $data.rating + 1: 'missing') + '.svg)' }"></div>
				<div class="total" data-bind="text: $data.total >= 0 ? $data.total * 0.4 : '- -', css: $parent.home.convertNumToWords($data.rating)"></div>
				<div class="label" data-bind="text: $data.total == 1 ? 'hour' : 'hours'"></div>
				<div class="notes" data-bind="text: notes"></div>
			</li>
		</ul>
		<!-- /ko -->
		<!-- ko ifnot: home.totals().length > 0 -->
		<div class="loading">Loading...</div>
		<!-- /ko -->
	</div>
</div>
<!-- /ko -->