<!-- ko if: auth.currentUser() && views[activeView()] == 'notes' -->
<div id="notes" class="panel" data-bind="slidePanelVisible: notes.show">
	<div class="header">
		<button type="button" class="left fa fa-home" data-bind="tap: selectProject.goHome"></button>
		<h1 data-bind="text: selectProject.week"></h1>
	</div>
	<div class="sub-header">
		<button type="button" class="left fa fa-chevron-left" data-bind="tap: notes.goBack"></button>
		<h2>A few last tidbits</h2>
		<button type="button" class="right fa fa-chevron-right" data-bind="tap: notes.goNext"></button>
	</div>
	<div class="workload">
		<h1>How's your workload?</h1>
		<div class="options" data-bind="foreach: notes.statusOptions">
			<button type="button" data-bind="css: { 'active': $parent.notes.rating() == $index() }, tap: $parent.notes.selectStatus"></button>
		</div>
		<div class="label" data-bind="text: notes.statusOptions()[notes.rating()].label"></div>
	</div>
	<div class="comments">
		<h1>Any other comments?</h1>
		<textarea data-bind="value: notes.content"></textarea>
	</div>
</div>
<!-- /ko -->