<!-- ko if: auth.currentUser() && views[activeView()] == 'people' -->
<div id="people" class="screen">
	<div class="page-header">
		<h1>All People</h1>
		<div class="toggle" data-bind="tap: people.toggleView">
			<button data-bind="css: { active: people.viewType() == 'hours' }"><span class="fa fa-clock-o"></span></button>
			<button data-bind="css: { active: people.viewType() == 'percent' }">%</button>
		</div>
	</div>
	<div class="toggle-weeks" data-bind="foreach: people.weeks">
		<button data-bind="tap: function() { $parent.people.selectWeek($index()) }, css: { active: $parent.people.activeWeek() == $index() }">
			<span class="date" data-bind="text: date"></span>
		</button>
	</div>
	<ol data-bind="foreach: people.times()[people.activeWeek()], dragdown: people.dragRefresh, drag: people.startRefreshDrag" class="people">
		<li class="person" data-bind="tap: $parent.people.goToPerson, css: { over: attributes.total() > 100 }">
			<div class="name">
				<span class="percent" data-bind="text: attributes.total() * ($parent.people.viewType() == 'hours' ? 0.4 : 1)"></span>
				<span class="label" data-bind="text: ($parent.people.viewType() == 'hours' ? 'hr' : '%')"></span>
				<!-- ko if: attributes.user.attributes.avatar -->
				<div class="avatar" data-bind="style: { 'background-image': 'url(' + $data.attributes.user.attributes.avatar._url + ')' }"></div>
				<!-- /ko -->
				<!-- ko ifnot: attributes.user.attributes.avatar -->
				<div class="avatar fa fa-user"></div>
				<!-- /ko -->
				<span class="person" data-bind="text: $data.attributes.user.attributes.displayName"></span>
			</div>
			<div class="percentage-container" data-bind="foreach: $data.attributes.data.projects">
				<div class="percentage" data-bind="style: { width: $data.percentage * .666 + '%' }"></div> 
			</div>
		</li>
	</ol>
	<div class="refresh"><span class="fa fa-arrow-circle-down"></span> Pull to refresh</div>
</div>
<!-- /ko -->