<!-- ko if: auth.currentUser() && views[activeView()] == 'people-details' -->
<div id="people-details" class="screen">
	<div class="page-header">
		<button class="back-button fa fa-chevron-circle-left" data-bind="tap: peopleDetails.goBack"></button>
		<div class="user">
			<!-- ko if: typeof peopleDetails.person().attributes.user.attributes.avatar === 'string' -->
			<div class="avatar" data-bind="style: { 'background-image': 'url(data:image/png;base64,' + peopleDetails.person().attributes.user.attributes.avatar + ')' }"></div>
			<!-- /ko -->
			<!-- ko ifnot: typeof peopleDetails.person().attributes.user.attributes.avatar === 'string' -->
			<div class="avatar fa fa-user"></div>
			<!-- /ko -->
			<span data-bind="text: peopleDetails.person().attributes.user.attributes.displayName"></span>
		</div>
		<div class="toggle" data-bind="tap: people.toggleView">
			<button data-bind="css: { active: people.viewType() == 'hours' }"><span class="fa fa-clock-o"></span></button>
			<button data-bind="css: { active: people.viewType() == 'percent' }">%</button>
		</div>
	</div>
	<div class="toggle-weeks" data-bind="foreach: people.weeks">
		<button data-bind="tap: function() { $parent.people.selectWeek($index()) }, css: { active: $parent.people.activeWeek() == $index() }">
			<span class="date" data-bind="text: date"></span>
			<!-- ko if: $root.peopleDetails.person() -->
				<!-- ko if: $root.peopleDetails.totals()[$index()] -->
				<div class="total" data-bind="css: { 'over': $root.peopleDetails.totals()[$index()].attributes.total() > 100 }">
					<span class="number" data-bind="text: $root.peopleDetails.totals()[$index()].attributes.total() * ($parent.people.viewType() == 'hours' ? 0.4 : 1)"></span>
					<span class="label" data-bind="text: ($parent.people.viewType() == 'hours' ? 'hr' : '%')"></span>
				</div>
				<!-- /ko -->
				<!-- ko ifnot: $root.peopleDetails.totals()[$index()] -->
				<div class="total notavailable">
					<span class="number">NA</span>
				</div>
				<!-- /ko -->
			<!-- /ko -->

		</button>
	</div>
	<ol data-bind="foreach: people.times()[people.activeWeek()]" class="projects">
		<!-- ko if: $data.attributes.user.id == $parent.peopleDetails.person().attributes.user.id -->
			<!-- ko foreach: $data.attributes.data.projects -->
			<li class="percentage-container" data-bind="css: { over: percentage > 100 }">
				<div class="name">
					<span class="percent" data-bind="text: percentage * ($root.people.viewType() == 'hours' ? 0.4 : 1)"></span>
					<span class="label" data-bind="text: ($root.people.viewType() == 'hours' ? 'hr' : '%')"></span>
					<span class="company" data-bind="text: $root.peopleDetails.getCompanyName(id) + ':'"></span>
					<span class="project" data-bind="text: $root.peopleDetails.getProjectName(id)"></span>
				</div>
				<div class="percentage" data-bind="style: { width: $data.percentage * .666 + '%' }"></div> 
			</li>
			<!-- /ko -->
		<!-- /ko -->
	</ol>
</div>
<!-- /ko -->