<!-- ko if: auth.currentUser -->
<div id="rate-project" class="screen" data-bind="fadeVisible: steps.currentStep() == 2">
	<div class="project-number"><span data-bind="text: rateProject.activeDomIndex() + 1"></span> of <span data-bind="text: rateProject.projectDomLength"></span></div>
	<ol data-bind="foreach: selectProject.allProjects" class="user-projects">
		<!-- ko if: $data.attributes.active() -->
		<li data-bind="tap: function() { $parent.rateProject.goToProject($index(), this, event) }, css: { active: ($parent.rateProject.activeProject() == $index() && $parent.rateProject.activeIndex() == -1) || ($parent.rateProject.activeIndex() == $index()), 'internal': $data.type == 'internal' }, text: $data.name"></li>
		<!-- /ko -->
	</ol>
	<div class="project-fader"></div>
	<div data-bind="text: rateProject.workingPercentage() + '%'" class="working"></div>
	<div class="dial">
		<div class="handle" data-bind="event: { touchstart: rateProject.dragHandle, mousedown: rateProject.dragHandle }"></div>
		<div class="track background">
			<div class="ring"></div>
		</div>
		<div class="track foreground">
			<div class="ring"></div>
		</div>
	</div>
	<div class="row chart" data-bind="foreach: rateProject.columns">
		<!-- ko if: $parent.rateProject.activeProject -->
		<div class="col-xs-4 bar" data-bind="style: { height: ($parent.rateProject.activeProject().percentage()[$index()].value() * 2) + 75 + 'px' }, tap: function() { $parent.rateProject.setColumn($index()) }, css: { active: $parent.rateProject.workingColumn() == $index(), zero: $parent.rateProject.activeProject().percentage()[$index()].value() == 0 }">
			<div class="total" data-bind="style: { height: ($data.total() * 2) + 75 + 'px' }, text: total() + '%', css: { over: $data.total() > 100 }"></div>
			<div class="value" data-bind="text: $parent.rateProject.activeProject().percentage()[$index()].value() + $parent.rateProject.dialSettings().value"></div>
			<div class="date">Week of <span data-bind="text: date"></span></div>
		</div>
		<!-- /ko -->
	</div>
</div>
<!-- /ko -->