<!-- ko if: auth.currentUser() && views[activeView()] == 'rate-week' -->
<div id="rate-week" class="screen" data-bind="visible: steps.currentStep() == 1 || header.activePage() == 1">
	<div class="page-header">
		<div class="user">
			<!-- ko if: typeof auth.currentUser().attributes.avatar === 'string' -->
			<div class="avatar" data-bind="tap: rateWeek.takePicture, style: { 'background-image': 'url(data:image/png;base64,' + auth.currentUser().attributes.avatar + ')' }"></div>
			<!-- /ko -->
			<!-- ko ifnot: typeof auth.currentUser().attributes.avatar === 'string' -->
			<div class="avatar fa fa-camera" data-bind="tap: rateWeek.takePicture"></div>
			<!-- /ko -->
			<span data-bind="text: auth.currentUser().attributes.displayName"></span>
		</div>
		<div class="toggle" data-bind="tap: rateWeek.toggleView">
			<button data-bind="css: { active: rateWeek.viewType() == 'hours' }"><span class="fa fa-clock-o"></span></button>
			<button data-bind="css: { active: rateWeek.viewType() == 'percent' }">%</button>
		</div>
	</div>
	<div class="toggle-weeks" data-bind="foreach: rateWeek.weeks">
		<button data-bind="tap: function() { $parent.rateWeek.selectWeek($index()) }, css: { active: $parent.rateWeek.activeWeek() == $index(), over: $data.total() > 100, zero: $data.total() == 0 }">
			<span class="date" data-bind="text: date"></span>
			<div class="total">
				<span class="number" data-bind="text: total() * ($parent.rateWeek.viewType() == 'hours' ? 0.4 : 1)"></span>
				<span class="label" data-bind="text: ($parent.rateWeek.viewType() == 'hours' ? 'hr' : '%')"></span>
			</div>
		</button>
	</div>
	<ol data-bind="foreach: selectProject.allProjects" class="projects">
		<!-- ko if: $data.attributes.active() -->
		<li class="project" data-bind="css: { 'internal': $data.attributes.company == 'Internal', zero: $data.attributes.percentage()[$parent.rateWeek.activeWeek()].value() == 0 }, drag: $parent.rateWeek.drag">
			<div class="name">
				<span class="percent" data-bind="text: $data.attributes.percentage()[$parent.rateWeek.activeWeek()].value() * ($parent.rateWeek.viewType() == 'hours' ? 0.4 : 1)"></span>
				<span class="label" data-bind="text: ($parent.rateWeek.viewType() == 'hours' ? 'hr' : '%')"></span>
				<span class="company" data-bind="text: $data.attributes.company + ':'"></span>
				<span class="project" data-bind="text: $data.attributes.name"></span>
			</div>
			<div class="percentage" data-bind="style: { width: $data.attributes.percentage()[$parent.rateWeek.activeWeek()].value() * .666 + '%' }">
				<div class="handle"></div>
			</div>
		</li>
		<!-- /ko -->
	</ol>
</div>
<!-- /ko -->