<!-- ko if: auth.currentUser -->
<div id="select-project" class="screen" data-bind="fadeVisible: steps.currentStep() == 0">
	<div class="row">
		<div class="col-xs-6">
			<ul data-bind="foreach: selectProject.allProjects" class="user-projects">
				<!-- ko if: $data.active() -->
				<li data-bind="text: name, tap: $parent.selectProject.toggleProject, css: { 'internal': $data.type == 'internal' }"></li>
				<!-- /ko -->
			</ul>
		</div>
		<div class="col-xs-6">
			<ul data-bind="foreach: selectProject.allProjects" class="all-projects">
				<li data-bind="text: name, tap: $parent.selectProject.toggleProject, css: { active: $data.active(), 'internal': $data.type == 'internal' }"></li>
			</ul>
		</div>
	</div>
</div>
<!-- /ko -->