<!-- ko if: auth.currentUser() && views[activeView()] == 'select-project' -->
<div id="select-project" class="panel" data-bind="slidePanelVisible: selectProject.show">
	<div class="header">
		<button type="button" class="left fa fa-home" data-bind="tap: selectProject.goHome"></button>
		<h1 data-bind="text: selectProject.week"></h1>
	</div>
	<div class="sub-header">
		<button type="button" class="left fa fa-chevron-left disabled" disabled="disabled"></button>
		<h2>Select Projects</h2>
		<button type="button" class="right fa fa-chevron-right"></button>
	</div>
	<div class="refresh"><span class="fa fa-arrow-circle-down"></span> Pull to refresh</div>
	<ul data-bind="foreach: selectProject.allProjects, dragdown: selectProject.dragRefresh, drag: selectProject.startRefreshDrag" class="all-projects">
		<!-- ko if: ($data.attributes.active() || $parent.selectProject.viewType() == 'all') && !$data.attributes.archived -->
		<li data-bind="css: { active: $data.attributes.active(), 'internal': $data.attributes.company == 'Internal' }, tap: $parent.selectProject.toggleProject">
			<span class="company" data-bind="text: (attributes.company == 'Internal' ? 'Internal' : attributes.company) + ':'"></span>
			<span class="project" data-bind="text: attributes.name"></span>
			<span class="check fa fa-check" data-bind="visible: attributes.active"></span>
		</li>
		<!-- /ko -->
	</ul>
</div>
<!-- /ko -->