<!-- ko if: auth.currentUser() && header.activePage() == 0 -->
<div id="steps">
	<button data-bind="fadeVisible: steps.currentStep() > 0, tap: function() { steps.nextStep(-1) }" class="fa fa-chevron-left left"></button>
	<ul data-bind="foreach: steps.steps">
		<li data-bind="css: { active: $data.stepNumber == $parent.steps.currentStep() }"></li>
	</ul>
	<button data-bind="fadeVisible: steps.currentStep() < steps.steps().length - 1, tap: function() { steps.nextStep(1) }" class="fa fa-chevron-right right"></button>
</div>
<!-- /ko -->